{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>{{ 'page.title.category.index'|trans }}</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} - {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ 'view.more'|trans }}</a>
        </div>
    {% else %}
        {{ 'no.category.found'|trans }}
    {% endfor %}

    <a href="{{ path('category_new') }}">
        {{ 'add.category'|trans}}
    </a>
{% endblock %}
