{% extends 'base.html.twig' %}

{% block title %}{% trans with {'%category%': category.name} %} page_title_category_show {% endtrans %}{% endblock %}

{% block body %}

    {% for program in programs %}
        <div>
            <h2> {{ program.id }} : {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { programSlug: program.slug }) }}">{{ 'view.more'|trans }}</a>
        </div>
    {% else %}
        {{ 'no.program.found'|trans}}
    {% endfor %}

    <a href="{{ path('program_index') }}">
        {{ 'back.index.program'|trans}}
    </a>

{% endblock %}
