{% extends 'base.html.twig' %}

{% block title %} Category #{{ category.name }}{% endblock %}

{% block body %}

    {% for program in programs %}
        <div>
            <h2> {{ program.id }} : {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { programSlug: program.slug }) }}">Voir la fiche de la série</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
