{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.episode'|trans }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': '{{ 'save'|trans }} }) }}

    <a href="{{ path('episode_index') }}">{{ 'back.index.episode'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
