{% extends 'base.html.twig' %}

{% block title %}{{ 'add.episode'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center m-5">{{ 'add.episode'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">{{ 'back.index.episode'|trans}}</a>
{% endblock %}
