{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ episode.slug }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans}}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'number'|trans}}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans}}</th>
                <td>{{ episode.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">{{ 'back.index.episode'|trans}}</a>

    <a href="{{ path('episode_edit', {'episodeSlug': episode.slug}) }}">{{ 'edit'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
<div class="card p-4 m-5">
        <h3 class="m-3">Les avis publiés </h3>

        {% for comment in comments %}
            <p class="mb-3">{{ comment.comment }} <br> {{ comment.rate }} /10 - {{ comment.author.email }}</p>

            <form action="{{ path('episode_delete_comment', {'episodeSlug': episode.slug})  }}" method="post">
                <button type="submit" class="bnt btn-danger">{{ 'erase'|trans }}</button>
            </form>
        {% endfor %}
        </div>

        <div class="card p-4 m-5">

            <h3 class="m-3">{{ 'add.comment'|trans }}</h3>

            <div class="m3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-danger m-3">{{ 'publish.comment'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        {% endif %}

    {% if app.user is empty %}
     <div class="card p-4 m-5">
        <h3 class="m-3">{{ 'identify.to.publish.comment'|trans }}</h3>

        </div>
    {% endif %}


{% endblock %}
