{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Toutes les séries de la table program : </h1>
    <a class="align-self-center btn btn-danger m-5" href="{{ path('program_new') }}">Ajouter une nouvelle série</a>

    <div class="row list-program">

    {% for program in programs %}
        <div class="col-2">
            <div class="card mb-3 m-2 bg-dark">

                <img class="card-img-top mb-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <h6 class="card-title">{{ loop.index }} / {{ program.title }} - Catégorie
                    : {{ program.category.name }}</h6>
                <p class="card-text">{{ program.summary }}</p>
                <a class="btn btn-danger" href="{{ path("program_show", { programSlug: program.slug }) }}">Voir la
                    fiche</a>
            </div>
        </div>

    {% else %}
       <p> Aucune série trouvée.</p>
    {% endfor %}

    </div>

    <a class="btn btn-primary mb-5" href="{{ path('app_index') }}">Accueil</a>
{% endblock %}
