{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="text-center m-5">TOUS LES PROGRAMMES</h1>

    <div class="container-fluid col-10 mb-5">
        <div class="row">
            <div class="col-5 align-self-center">

                {{ form_start(form) }}
                {{ form_row(form.search, {'label': 'Trouver une série'}) }}
                <button class="btn btn-info mt-2 mb-5">Rechercher</button>
                {{ form_end(form) }}

                <a class="btn btn-info mb-5 mt-2" href="{{ path('program_new') }}">Ajouter une nouvelle série</a>
            </div>
        </div>
        <div class="row">

            {% for program in programs %}
                <div class="col-2 col-md-4">
                    <div class="card mb-3 m-2 bg-light" style="width: 12rem;">

                        <img class="card-img-top mb-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                        <h6 class="card-title">{{ program.title }}</h6>
                        <a id="watchlist" href="{{ path('program_watchlist', {id: program.id}) }}">
                            <i class="bi bi-heart{{ app.user.isInWatchlist(program) ? '-fill' : ''}}"></i></a>
                        <p class="card-text">Catégorie
                            : {{ program.category.name }}</p>
                        <a class="btn btn-dark" href="{{ path("program_show", { programSlug: program.slug }) }}">Voir la
                            fiche</a>
                        {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                            <a class="btn" href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <p> Aucune série trouvée.</p>
            {% endfor %}


        </div>
<div class="row">
    <div class="col-3 align-self-center">
        <a class="btn btn-info mb-5" href="{{ path('app_index') }}">Accueil</a>
    </div>
</div>
</div>
{% endblock %}
