{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }} - saison : {{ season.id }}{% endblock %}

{% block body %}

    <h1>{{ program.title }} : Saison {{ season.number }} </h1>
    <p>Diffusé en : {{ season.year }} </p>
    <p>Résumé : {{ season.description }} </p>
    <h2>Tous les épisodes : </h2>
    <ul>
        {% for episode in episodes %}
            <li>Episode {{ episode.id }} : {{ episode.title }}</li>
            <li>Résumé : {{ episode.description }}</li>
            <a href="{{ path('program_episode_show', {'program':program.id, 'season':season.id, 'episode':episode.id }) }}">Voir la fiche de l'épisode</a>
        {% endfor %}
    </ul>

{% endblock %}