{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.slug }}{% endblock %}

{% block body %}

    <div class="media container-fluid">
    <img class="card style=" width="150rem;" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="row ">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <a id="watchlist" href="{{ path('program_watchlist', {id: program.id}) }}">
            <i class="bi bi-heart{{ app.user.isInWatchlist(program) ? '-fill' : ''}}"></i></a>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Saisons disponibles:</p>
            {% for season in seasons %}
                <a class="btn btn-dark mb-3"
                   href="{{ path('program_season_show', {programSlug: program.slug, seasonId: season.id}) }}">{{ season.description }}
                    ({{ season.year }})</a>
            {% endfor %}
        </div>
        <div>
            <p>Les acteurs qui ont joué dans cette série : </p>
            {% for actor in program.actors %}
                <a href="{{ path("actor_show",{ 'id': actor.id }) }}">{{ actor.name }}</a>
            {% else %}
                Aucun acteur encore renseigné pour cette série.
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-info" href="{{ path('program_edit', {slug : program.slug}) }}">Modifier le programme</a>
    <a class="btn btn-info" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
