{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.slug }}{% endblock %}

{% block body %}

<div class="media">
    <img class="align-self-center card" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>{{ program.summary }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
        <p>Saisons disponibles:</p>
        {% for season in seasons %}
            <a href="{{ path('program_season_show', {programSlug: program.slug, seasonId: season.id}) }}">{{ season.description }}
                ({{ season.year }})</a>
        {% endfor %}
    </div>
    <div>
        <p>Les acteurs qui ont joué dans cette série : </p>
        {% for actor in program.actors %}
            <a href="{{ path("actor_show",{ 'id': actor.id }) }}">{{ actor.name }}</a>
        {% else %}
            Aucun acteur encore renseigné pour cette série.
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

    {% endblock %}
