{% extends 'base.html.twig' %}

{% block title %}All actors{% endblock %}

{% block body %}
    <h1>{{ 'page.title.actor.index'|trans }}</h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} - {{ actor.name }}</h2>
            <a href="{{ path("actor_show", { 'id': actor.id }) }}">{{ 'actor.show'|trans }}</a>
        </div>
    {% else %}
        {{ 'actor.no'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'return.index'|trans }}
    </a>
{% endblock %}
