{% extends 'base.html.twig' %}

{% block title %} Actor #{{ actor.name }}{% endblock %}

{% block body %}

    {% for program in actor.programs %}
        <div>
            <p>{{ 'view.actor.program'|trans }}{{ program.title }}</p>
            <a href="{{ path("program_show", { programSlug: program.slug }) }}">{{ 'view.more'|trans }}</a>
        </div>
    {% else %}
        {{ 'program.no'|trans }}
    {% endfor %}

    <a href="{{ path('program_index') }}">
        {{ 'back.index'|trans }}
    </a>

{% endblock %}
