<nav class="navbar bg-dark text-light sticky-top">
    <ul class="container-fluid ">
        <li><a class="navbar-brand" href="/">Wild Séries</a></li>
        <li><a class="navbar-brand" href="/programs">Programs</a></li>
        <li><a class="navbar-brand" href="/actor">Actors</a></li>
        <li><a class="navbar-brand" href="/categories">Categories</a></li>
        <li><a class="navbar-brand" href="/season">Seasons</a></li>
        <li><a class="navbar-brand" href="/episode">Episodes</a></li>

    {% if app.user %}
        <div class="fst-italic">{{ app.user.email }}</div>
        <a class="text-light fst-italic" href="{{ path('app_profil') }}">Mon profil</a>
        <a class="text-light m-2 fst-italic" href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a class="text-light fst-italic" href="{{ path('app_login') }}">Se connecter</a>
        <a class="text-light fst-italic" href="{{ path('app_register') }}">Créer un compte</a>

    {% endif %}
    </ul>
</nav>
