<nav class="navbar bg-dark text-light sticky-top">
    <ul class="container-fluid ">
        <li><a class="navbar-brand" href="/">Wild Séries</a></li>
        <li><a class="navbar-brand" href="/programs">{{ 'programs'|trans }}</a></li>
        <li><a class="navbar-brand" href="/actor">{{ 'actors'|trans }}</a></li>
        <li><a class="navbar-brand" href="/categories">{{ 'categories'|trans }}</a></li>
        <li><a class="navbar-brand" href="/season">{{ 'seasons'|trans }}</a></li>
        <li><a class="navbar-brand" href="/episode">{{ 'episodes'|trans }}</a></li>

    {% if app.user %}
        <div class="fst-italic">{{ app.user.email }}</div>
        <a class="text-light fst-italic" href="{{ path('app_profil') }}">{{ 'my.profile'|trans }}</a>
        <a class="text-light m-2 fst-italic" href="{{ path('app_logout') }}">{{ 'deconnexion'|trans }}</a>
    {% else %}
        <a class="text-light fst-italic" href="{{ path('app_login') }}">{{ 'connexion'|trans }}</a>
        <a class="text-light fst-italic" href="{{ path('app_register') }}">{{ 'create.account'|trans }}</a>

    {% endif %}
    </ul>
</nav>

{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
